<!DOCTYPE html>
<html>
    <head>
        <title>Hello Express App</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">    
    </head>
    <body>
        <div class="jumbotron">
        <h3>Brad's Pizza Express Header</h3>
     
        <h1>{{{ toppingType }}} {{{ message }}} {{{ order }}} {{{ size }}}</h1>
        <br><br>
        <h5>Call 347 266 4972 for more info</h5>
        </div>
    </body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>